/* flexbox (art gallery)*/

.homedesc {
	text-align: center;
	font-family: "Calibri";
	font-size: larger;
}

.homedesc h1{
	text-align: left;
}

/* background */
body {
	background-image: url("background5.jpg");
	background-position: left;
	background-attachment: fixed;
	background-size: 100%;
	background-repeat: repeat-y;
	position: relative;
	color: seashell;
}

.flex-gallery {
	display: flex;
	flex-wrap: wrap;
}

/* navigation bar */
ul {
	list-style-type: none;
	margin: -10px;
	padding: 0;
	overflow: hidden;
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	width: 100%;
}
li {
	float: left;
}
li a {
	display: block;
	color: seashell;
	text-align: center;
	padding: 16px;
	text-decoration: none;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-size: large;
}
li a:hover {
	background-color: rgba(40,40,40,0.6);
}

/* art gallery */
div.gallery {
	margin: 10px;
	border: 1px solid #ccc;
	height: auto;
	float: left;
	background-color: #333333;
}
div.gallery a {
	height: auto;
	width: auto;
}
div.gallery:hover {
	border: 1px solid #777;
}
div.gallery img {
	margin: 10px;
	height: 250px;
	width: auto;
}
div.desc {
	padding: 10px;
	text-align: center;
	color: seashell;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	font-size: small;
}

/* footer */
footer {
	background-color: rgba(179,179,179,0.8);
	margin: 0;
	padding: 0;
	text-align: center;
	width: 100%;
	font-family: Calibri;
}
